/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Builds/
*.csproj
*.sln
*.slnx
.vs/
.DS_Store
*.log

**/node_modules/
.env
.env.*
*.pem
*.key
Validation/*-status.txt
/Assets/Resources/PerformanceTestRun*.json*

*.blend1
